.App {
  display: flex;
  /* background-color: black; */
}

.roomContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
}

.workspaceContainer {
  width: 72vw;
  background-color: lightgreen;
}

.videoContainer {
  flex: 1;
  margin-left: 1vw;
  background-color: lightblue;
}
