@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.videoContainer {
  flex: 1;
  margin-left: 1vw;
  /* background-color: lightblue; */
}
